<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-52}</string>
			<key>spriteSize</key>
			<string>{223,112}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1769,644},{223,112}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-51}</string>
			<key>spriteSize</key>
			<string>{223,114}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1823,183},{223,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-51}</string>
			<key>spriteSize</key>
			<string>{223,116}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1587,1},{223,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-51}</string>
			<key>spriteSize</key>
			<string>{223,116}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1705,183},{223,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-51}</string>
			<key>spriteSize</key>
			<string>{223,116}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1587,226},{223,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-51}</string>
			<key>spriteSize</key>
			<string>{223,116}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1767,408},{223,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-51}</string>
			<key>spriteSize</key>
			<string>{223,116}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1767,526},{223,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{223,216}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1,1},{223,216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{223,216}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1,226},{223,216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{223,216}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1,451},{223,216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{223,212}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1,676},{223,212}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{223,204}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{427,226},{223,204}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-11}</string>
			<key>spriteSize</key>
			<string>{223,196}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{427,676},{223,196}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-13}</string>
			<key>spriteSize</key>
			<string>{223,192}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{635,1},{223,192}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-15}</string>
			<key>spriteSize</key>
			<string>{223,188}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1021,226},{223,188}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-17}</string>
			<key>spriteSize</key>
			<string>{223,184}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1401,226},{223,184}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-18}</string>
			<key>spriteSize</key>
			<string>{223,182}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1403,1},{223,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-18}</string>
			<key>spriteSize</key>
			<string>{223,182}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1401,451},{223,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{223,180}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1585,451},{223,180}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{223,180}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1587,676},{223,180}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{223,206}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{219,226},{223,206}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{223,208}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{219,1},{223,208}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{223,204}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{429,1},{223,204}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-12}</string>
			<key>spriteSize</key>
			<string>{223,194}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{625,676},{223,194}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-13}</string>
			<key>spriteSize</key>
			<string>{223,192}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{633,451},{223,192}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-13}</string>
			<key>spriteSize</key>
			<string>{223,192}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{821,676},{223,192}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-14}</string>
			<key>spriteSize</key>
			<string>{223,190}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1015,676},{223,190}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-14}</string>
			<key>spriteSize</key>
			<string>{223,190}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{829,1},{223,190}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-14}</string>
			<key>spriteSize</key>
			<string>{223,190}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{829,226},{223,190}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{223,206}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{219,451},{223,206}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>30</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{223,210}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{215,676},{223,210}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>31</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{223,204}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{427,451},{223,204}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>32</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-12}</string>
			<key>spriteSize</key>
			<string>{223,194}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{633,226},{223,194}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>33</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-13}</string>
			<key>spriteSize</key>
			<string>{223,192}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{827,451},{223,192}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>34</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-14}</string>
			<key>spriteSize</key>
			<string>{223,190}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1021,1},{223,190}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>35</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-15}</string>
			<key>spriteSize</key>
			<string>{223,188}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1021,451},{223,188}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>36</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-15}</string>
			<key>spriteSize</key>
			<string>{223,188}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1207,676},{223,188}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>37</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-15}</string>
			<key>spriteSize</key>
			<string>{223,188}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1211,226},{223,188}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>38</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-15}</string>
			<key>spriteSize</key>
			<string>{223,188}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1213,1},{223,188}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>39</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-15}</string>
			<key>spriteSize</key>
			<string>{223,188}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1211,451},{223,188}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>40</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-15}</string>
			<key>spriteSize</key>
			<string>{223,188}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1397,676},{223,188}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>41</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-18}</string>
			<key>spriteSize</key>
			<string>{223,180}</string>
			<key>spriteSourceSize</key>
			<string>{223,218}</string>
			<key>textureRect</key>
			<string>{{1767,1},{223,180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action30.pvr.ccz</string>
		<key>size</key>
		<string>{1991,900}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cc0b07cd0919f972710b361b97dfd171:a076cec352d30b1ec64d38144cb8ac4d:e44ba353004d0fd8b165f5c6960cb7e8$</string>
		<key>textureFileName</key>
		<string>col_action30.pvr.ccz</string>
	</dict>
</dict>
</plist>
