<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,9}</string>
			<key>spriteSize</key>
			<string>{128,132}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{847,881},{128,132}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,9}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{475,353},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,7}</string>
			<key>spriteSize</key>
			<string>{78,72}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{179,441},{78,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,8}</string>
			<key>spriteSize</key>
			<string>{130,132}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{713,881},{130,132}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,8}</string>
			<key>spriteSize</key>
			<string>{152,152}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{849,177},{152,152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,7}</string>
			<key>spriteSize</key>
			<string>{174,174}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{791,349},{174,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,7}</string>
			<key>spriteSize</key>
			<string>{196,196}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{1,243},{196,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,6}</string>
			<key>spriteSize</key>
			<string>{216,216}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{257,237},{216,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,4}</string>
			<key>spriteSize</key>
			<string>{234,232}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{257,1},{234,232}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,0}</string>
			<key>spriteSize</key>
			<string>{254,240}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{1,1},{254,240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,10}</string>
			<key>spriteSize</key>
			<string>{174,174}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{713,705},{174,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,11}</string>
			<key>spriteSize</key>
			<string>{174,176}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{615,353},{174,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,10}</string>
			<key>spriteSize</key>
			<string>{174,174}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{793,525},{174,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,10}</string>
			<key>spriteSize</key>
			<string>{172,174}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{849,1},{172,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,9}</string>
			<key>spriteSize</key>
			<string>{172,176}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{671,1},{172,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,9}</string>
			<key>spriteSize</key>
			<string>{174,178}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{1,623},{174,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,8}</string>
			<key>spriteSize</key>
			<string>{174,178}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{435,455},{174,178}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,8}</string>
			<key>spriteSize</key>
			<string>{174,178}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{491,1},{174,178}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,7}</string>
			<key>spriteSize</key>
			<string>{174,178}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{491,177},{174,178}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,7}</string>
			<key>spriteSize</key>
			<string>{172,178}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{353,807},{172,178}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,6}</string>
			<key>spriteSize</key>
			<string>{170,178}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{177,813},{170,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,6}</string>
			<key>spriteSize</key>
			<string>{170,178}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{533,807},{170,178}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,6}</string>
			<key>spriteSize</key>
			<string>{172,176}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{671,175},{172,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,6}</string>
			<key>spriteSize</key>
			<string>{172,176}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{615,531},{172,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,7}</string>
			<key>spriteSize</key>
			<string>{174,178}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{435,631},{174,178}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,7}</string>
			<key>spriteSize</key>
			<string>{174,178}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{177,633},{174,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,6}</string>
			<key>spriteSize</key>
			<string>{174,178}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{1,803},{174,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,7}</string>
			<key>spriteSize</key>
			<string>{176,180}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{1,441},{176,180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,6}</string>
			<key>spriteSize</key>
			<string>{176,180}</string>
			<key>spriteSourceSize</key>
			<string>{274,240}</string>
			<key>textureRect</key>
			<string>{{253,455},{176,180}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{1022,1012}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:02016742e3461c89c2e0d9c747019ef2:ba27e90deb9be3584d28ac992c5942d7:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
