<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{17,17}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{124,401},{17,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,1}</string>
			<key>spriteSize</key>
			<string>{121,105}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{1,401},{121,105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{205,199}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{1,1},{205,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,1}</string>
			<key>spriteSize</key>
			<string>{199,197}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{1,202},{199,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,0}</string>
			<key>spriteSize</key>
			<string>{193,193}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{208,1},{193,193}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{189,189}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{403,1},{189,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,1}</string>
			<key>spriteSize</key>
			<string>{183,187}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{594,1},{183,187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,1}</string>
			<key>spriteSize</key>
			<string>{179,181}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{779,1},{179,181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,1}</string>
			<key>spriteSize</key>
			<string>{175,177}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{960,1},{175,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,1}</string>
			<key>spriteSize</key>
			<string>{169,173}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{1137,1},{169,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,1}</string>
			<key>spriteSize</key>
			<string>{167,171}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{1308,1},{167,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{163,167}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{1308,174},{163,167}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{159,163}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{202,202},{159,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{157,159}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{363,196},{157,159}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{153,155}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{522,192},{153,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{149,149}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{969,180},{149,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,1}</string>
			<key>spriteSize</key>
			<string>{147,145}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{1241,339},{147,145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,1}</string>
			<key>spriteSize</key>
			<string>{147,141}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{353,367},{147,141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,2}</string>
			<key>spriteSize</key>
			<string>{149,139}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{1477,154},{149,139}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,4}</string>
			<key>spriteSize</key>
			<string>{149,139}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{1477,305},{149,139}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,5}</string>
			<key>spriteSize</key>
			<string>{151,139}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{1477,1},{151,139}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,6}</string>
			<key>spriteSize</key>
			<string>{149,141}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{202,367},{149,141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,7}</string>
			<key>spriteSize</key>
			<string>{151,143}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{649,349},{151,143}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,8}</string>
			<key>spriteSize</key>
			<string>{149,145}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{1120,180},{149,145}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,8}</string>
			<key>spriteSize</key>
			<string>{149,147}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{1092,331},{149,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,9}</string>
			<key>spriteSize</key>
			<string>{147,149}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{794,343},{147,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,9}</string>
			<key>spriteSize</key>
			<string>{147,149}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{943,337},{147,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,10}</string>
			<key>spriteSize</key>
			<string>{145,151}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{502,357},{145,151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,10}</string>
			<key>spriteSize</key>
			<string>{145,151}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{677,190},{145,151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,9}</string>
			<key>spriteSize</key>
			<string>{143,151}</string>
			<key>spriteSourceSize</key>
			<string>{249,199}</string>
			<key>textureRect</key>
			<string>{{824,184},{143,151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{1617,509}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6e0597e3095c24477c1899f2d02507c1:1007f2031e24861249b5b337a1c892dc:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
